<head>
    <style type="text/css">
        #map {
            height: 400px;
            width: 100%;
            position: center;
        }
    </style>
</head>
@model SocialType.Models.Location
@{
    ViewBag.Title = "Index";
}
<body style="background-color: aliceblue;  background-image: url(https://leeds-list.com/wp-content/uploads/2015/12/headrow-house-nuevo-york-cocktails-no-credit-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;"
     >
   
    <div class="col-md-12">

            
            @using (Html.BeginForm("Index", "Locations", FormMethod.Post))
            {
                <div class="col-md-6" >
                    <div style="background-color: black; opacity:0.6; padding: 7px;  border-radius: 15px;">
                        <div>
                            <h1 style="color:aliceblue; font-weight: bold; opacity: 1;">Welcome!</h1>
                        </div>
                    
                        
                    </div>
                    <br />
                    <br />
                    <br />

                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                <br />

                <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
                  
                    <input type="button" value="Cancel" onclick="window.location='@Url.Action("Index", "Locations")'" class="btn btn-lg btn-primary" />
                    <br />
                    <br />
                    <br />
                    <br />
                    @if (Model != null && Model.Name != null)
                    {
                        <div style="background-color: black; opacity:0.6; padding: 7px;  padding-top: 35px; border-radius: 15px;">
                            <h2 style="color:aliceblue; font-weight: bold; opacity: 1;">We just found the pub, named "@Model.Name" in a database</h2>
                            <p style="font-size: 38px; opacity: 1">@Html.ActionLink("Show drinks", "Show", new { id = Model.Id, @class = "my-class" })</p>
                        </div>
                       
                    }
                    else
                    {

                        <div style="background-color: black; opacity:0.6; padding: 7px;   padding-top: 35px; border-radius: 15px;">
                            <h2 style="color:aliceblue; font-weight: bold; opacity: 1;">Nothing has been found yet, try to search again</h2>
                        </div>
                    }
                </div>
            }
        
            @if (Model != null && Model.Name != null)
            {



                <div id="map" style="height:91.5vh; margin-bottom:30px; padding-top: 40px;  width: 50%; padding: 0; margin: 0" >
                    <script type="text/javascript">
                function initMap() {
                    // map options
                    var options = {
                        zoom: 16,
                        center: { lat: 54.687157, lng: 25.279652 }
                    }

                    // new map
                    var map = new google.maps.Map(document.getElementById('map'), options);
                    //marker Add
                    var marker = new google.maps.Marker({
                        position: {lat: @Model.Latitude, lng: @Model.Longitude},
                        map: map,
                        icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
                    });
                    // when we click on the flag, the text field with an input should pop out
                    var infoWindow = new google.maps.InfoWindow({
                        content: '<h3 style="color:black">@Model.Name</h3> <h4 style="color:black">@Model.Address</h4>  <input type="text" class="form-control" placeholder="Put your rating"> '

                    });

                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });

                }
                    </script>

                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtwsIAijZ2TTUVQ3tz2u_YuDPpiBXEF6k&callback=initMap">
                    </script>
                </div>
            }
    </div>
</body>