@model SocialType.ViewModels.LocationViewModel

@{
    ViewBag.Title = "PostNewBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Insert new Bar location here</h2>
<hr />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        @using (Html.BeginForm("PostNewBar", "Locations", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.Name)
            <br />
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
            @Html.ValidationMessageFor(m => m.Address)
            <br />
            @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", @placeholder = "Latitude" })
            @Html.ValidationMessageFor(m => m.Latitude)
            <br />
            @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control", @placeholder = "Longitude" })
            @Html.ValidationMessageFor(m => m.Longitude)
            <br />
            <input type="submit" value="Submit" class="btn btn-success" />
        }
    </div>
</div>
@if (ViewBag.correct == "Succeed")
{
    <p style="color:green; font-size: 20px; text-align:center">Succeeded</p>
}
@if (ViewBag.correct == "Failed")
{
    <p style="color:red; font-size: 20px; text-align:center">Wrong parameters</p>
}
