@model IEnumerable<SocialType.Models.Drink>
@{
    ViewBag.Title = "Index";
}

<h2>Drinks List</h2>
@using (Html.BeginForm())
{

      
        <form>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Find by name:</label>
                    @Html.TextBox("SearchString")
                </div>
                <input class="btn btn-success" type="submit" value="Search" />
             </div>
        </form>
        
        
}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
                <th>@Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })</th>
                <th>@Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RateSortParm })</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Name</td>
                <td>@a.Price</td>
                @if ( a.Rating == 0)
                {
                    <td>No ratings yet</td>
                }
                else
                {
                    <td>@a.Rating</td>
                }
            </tr>
        }
        </tbody>
    </table>
<button class="btn btn-primary" onclick="@Url.Action("Post", "Drinks")">Insert new drink</button>